div#edges {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 0;
    visibility: hidden;
}

.sortable:hover {
    cursor: pointer;
    color: DarkOrange;
}

th.numeric, td.numeric {
    text-align: right;
}

 